img{
    padding: 20px;
}


#inicio{
    background-image: url("purple.jpg") ;
}

#nav{
    background-color: rgb(50, 72, 197);
}

a{
    text-decoration: none;
    color: white ;
    
}
#cabeza{
    background-color: rgb(103, 121, 224);
}

p{
    color: aliceblue;
}
h1{
    color: aliceblue;
}
li{
    color: aliceblue;
}

#tituloform{
    color: slateblue ;
    font-size: 30px;
}

#subtitulo{
    color: slateblue ;
    font-size: 25px;
}
#creditos{
    background-color: rgb(199, 47, 47);
}

#parrafos{
    font-size:30px ;
}

#api{
    background-color: rgb(50, 72, 197);
}

